@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

// @import '/node_modules/tiny-ui/lib/style/normalise';
@import './Theme/_variable.scss';
@import '/node_modules/tiny-ui/lib/style/animation';
@import '/node_modules/tiny-ui/lib/style/mixins';

// @import "/node_modules/tiny-ui/lib/alert/style/index";

@import "./Theme/components/alert.scss";

// @import "/node_modules/tiny-ui/lib/anchor/style/index";
// @import "/node_modules/tiny-ui/lib/aspect-ratio/style/index";
@import "/node_modules/tiny-ui/lib/avatar/style/index";
// @import "/node_modules/tiny-ui/lib/back-top/style/index";
@import "/node_modules/tiny-ui/lib/badge/style/index";
// @import "/node_modules/tiny-ui/lib/breadcrumb/style/index";
// @import "/node_modules/tiny-ui/lib/button/style/index";

@import "./Theme/components/button.scss";

// @import "/node_modules/tiny-ui/lib/calendar/style/index";
// @import "/node_modules/tiny-ui/lib/card/style/index";
// @import "/node_modules/tiny-ui/lib/carousel/style/index";
// @import "/node_modules/tiny-ui/lib/checkbox/style/index";
// @import "/node_modules/tiny-ui/lib/collapse/style/index";
// @import "/node_modules/tiny-ui/lib/collapse-transition/style/index";
// @import "/node_modules/tiny-ui/lib/date-picker/style/index";
// @import "/node_modules/tiny-ui/lib/descriptions/style/index";
// @import "/node_modules/tiny-ui/lib/divider/style/index";
// @import "/node_modules/tiny-ui/lib/drawer/style/index";
// @import "/node_modules/tiny-ui/lib/dropdown/style/index";
// @import "/node_modules/tiny-ui/lib/empty/style/index";
// @import "/node_modules/tiny-ui/lib/flip/style/index";
@import "/node_modules/tiny-ui/lib/form/style/index";
@import "/node_modules/tiny-ui/lib/grid/style/index";
// @import "/node_modules/tiny-ui/lib/icon/style/index";
// @import "/node_modules/tiny-ui/lib/image/style/index";
// @import "/node_modules/tiny-ui/lib/input/style/index";

@import "./Theme/components/input/index.scss";

// @import "/node_modules/tiny-ui/lib/input-number/style/index";
// @import "/node_modules/tiny-ui/lib/input-password/style/index";
// @import "/node_modules/tiny-ui/lib/layout/style/index";
// @import "/node_modules/tiny-ui/lib/link/style/index";
// @import "/node_modules/tiny-ui/lib/loader/style/index";
// @import "/node_modules/tiny-ui/lib/loading-bar/style/index";
// @import "/node_modules/tiny-ui/lib/keyboard/style/index";
// @import "/node_modules/tiny-ui/lib/menu/style/index";
// @import "/node_modules/tiny-ui/lib/message/style/index";
// @import "/node_modules/tiny-ui/lib/modal/style/index";
@import "/node_modules/tiny-ui/lib/notification/style/index";
// @import "/node_modules/tiny-ui/lib/overlay/style/index";

@import "/node_modules/tiny-ui/lib/pagination/style/index";

// @import "/node_modules/tiny-ui/lib/pop-confirm/style/index";

@import "/node_modules/tiny-ui/lib/popover/style/index";
@import "/node_modules/tiny-ui/lib/popup/style/index";

// @import "./Theme/components/popup.scss";
// @import "/node_modules/tiny-ui/lib/progress/style/index";
// @import "/node_modules/tiny-ui/lib/radio/style/index";
// @import "/node_modules/tiny-ui/lib/rate/style/index";
// @import "/node_modules/tiny-ui/lib/result/style/index";
@import "/node_modules/tiny-ui/lib/native-select/style/index";
// @import "/node_modules/tiny-ui/lib/scroll-indicator/style/index";
@import "/node_modules/tiny-ui/lib/select/style/index";
// @import "/node_modules/tiny-ui/lib/skeleton/style/index";
// @import "/node_modules/tiny-ui/lib/slider/style/index";

@import "/node_modules/tiny-ui/lib/space/style/index";

// @import "/node_modules/tiny-ui/lib/split/style/index";
// @import "/node_modules/tiny-ui/lib/split-button/style/index";
// @import "/node_modules/tiny-ui/lib/steps/style/index";
// @import "/node_modules/tiny-ui/lib/sticky/style/index";
// @import "/node_modules/tiny-ui/lib/strength-indicator/style/index";
// @import "/node_modules/tiny-ui/lib/switch/style/index";
// @import "/node_modules/tiny-ui/lib/tabs/style/index";

@import "/node_modules/tiny-ui/lib/tag/style/index";

// @import "/node_modules/tiny-ui/lib/textarea/style/index";
@import "./Theme/components/input/textarea.scss";
// @import "/node_modules/tiny-ui/lib/timeline/style/index";
// @import "/node_modules/tiny-ui/lib/time-picker/style/index";

// @import "/node_modules/tiny-ui/lib/tooltip/style/index";

// @import "/node_modules/tiny-ui/lib/transfer/style/index";

@import "/node_modules/tiny-ui/lib/transition/style/index";

// @import "/node_modules/tiny-ui/lib/tree/style/index";
// @import "/node_modules/tiny-ui/lib/typography/style/index";
// @import "/node_modules/tiny-ui/lib/upload/style/index";

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.ty-notification-container{
	font-family: 'Inter', sans-serif;
}

.native-select {
	font-family: 'Inter', sans-serif;
	width: 100%;
	padding: 8px 12px;
	border: none;
	box-shadow: -0.5px -0.5px 1px 1px rgb(50 50 71 / 7%), 1px 1px 3px 0 rgb(50 50 71 / 16%) !important;
}

.drop-area {
	transition: 1s all ease-in-out;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: blur(3px);

	border-radius: 6px;
	border-width: 2px;
	border-radius: 2px;
	border-color: rgb(238, 238, 238);
	border-style: dashed;
	flex-direction: column;
	justify-content: center;
	gap: 24px;

	.title {
		width: 100%;
		text-align: center;
		display: block;

	}

}


.#{$prefix}-popover {
	&__content {
		padding: 6px 7px;


	}
}