.ticket-button {

    position: fixed;
    bottom: 0;
    left: 0;

    padding: 0;
    background: linear-gradient(126.63deg, #2D348C 11.98%, #2D348C 83.35%);
    width: 50px;
    height: 50px;
    border-radius: 0 100px 0 0;
    
    border: none !important;
}


.ticket-button .ticket-button-icon{
    font-size: 26px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
    right: 5px;
}